<app-header></app-header>
<div class="d-flex justify-content-center align-items-center">

    <div class="p-5 w-75">
        <div class="d-flex justify-content-between">
            <h3 style="color: #0040ff;">Book List</h3>
            <a href="" style="text-decoration: none;" class="btn btn-outline-secondary pt-2" routerLink="/addbook"><i
                    class="fa-solid fa-user-plus me-2"></i>Add Book</a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column mt-5">
            <table class="table table-bordered border-primary shadow mt-3 rounded">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Book Name</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let book of allBooks">
                        <td>{{book.id}}</td>
                        <td>{{book.bookName}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.price}}</td>
                        <td>
                            <a class="btn btn-outline-danger" (click)="deleteBook(book._id)"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>